<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>联系我们 - 小程序商店 | 139小程序商店(139ud.com)</title>
    <meta name="keywords" content="微信小程序,小程序,微信小游戏,小游戏,小程序商店" />
    <meta name="description" content="139小程序商店收录最新、最全、最热门、最实用的微信小程序和微信小游戏，是国内首家集小程序资讯、小程序游戏、小程序分发、小程序推广为一体的综合性小程序门户网站。" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
    <link rel="dns-prefetch" href="http://static.139ud.com/" />
    <link rel="dns-prefetch" href="http://img.139ud.com/" />
    <link rel="shortcut icon" type="image/x-icon" href="{{StaticUrl}}/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{{StaticUrl}}/favicon.ico" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/mobile.css" media="screen and (max-width:768px)" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/index.css" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/links.css" />
</head>
<body>
<div class="wrap">
{{template "front_header" .}}
    <div class="body clearfix">
        <div class="page marked"><h3 id="-">联系我们</h3>
            <h4>关于139ud</h4>
            <ol>
                <li>139ud是国内最早的小程序分发平台，收录小程序数量行业第一</li>
                <li>百度搜索“小程序商店”、“小程序大全”、“小程序推荐”、“微信小程序”、“小程序”等关键词，139ud均排名前列</li>
                <li>139ud与众多开发者和小程序服务商有深入合作，是很多小程序的首发平台</li>
            </ol>
            <h4 id="-">意见反馈</h4>
            <p>139ud使用过程中有任何问题，欢迎给我们提交反馈</p>
            <p>Q&nbsp;Q：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=371212848&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:371212848:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
            <h4 id="-">广告合作</h4>
            <p>广告投放、小程序推广或其他商务合作请联系</p>
            <p>Q&nbsp;Q：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=371212848&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:371212848:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
        </div>
    </div>
{{template "front_footer" .}}
</div>
<script src="{{StaticUrl}}/front/js/common.js"></script>
{{template "front_script" .}}
</body>
</html>