<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>微信小程序排行榜 - 微信小程序推荐 - 微信小游戏二维码 - 小程序商店 | 139小程序商店(139ud.com)</title>
    <meta name="keywords" content="微信小程序,小程序,微信小游戏,小游戏,小程序商店" />
    <meta name="description" content="139小程序商店收录最新、最全、最热门、最实用的微信小程序和微信小游戏，是国内首家集小程序资讯、小程序游戏、小程序分发、小程序推广为一体的综合性小程序门户网站。" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
    <link rel="dns-prefetch" href="http://static.139ud.com/" />
    <link rel="dns-prefetch" href="http://img.139ud.com/" />
    <link rel="shortcut icon" type="image/x-icon" href="{{StaticUrl}}/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{{StaticUrl}}/favicon.ico" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/mobile.css" media="screen and (max-width:768px)" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/index.css" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/rank.css" />
</head>
<body>
<div class="wrap">
{{template "front_header" .}}
    <div class="body clearfix">
        <div class="breadcrumb">
            <a href="{{AppUrl}}">小程序商店</a><span class="icon-right"></span><strong class="active">热门排行</strong>
        </div>
        <!-- 热门排行 begin -->
        <div class="bg0">
            <div class="hot sect1">
                    {{range $index,$article := .top}}
                    <a class="item" href="{{AppUrl}}/detail/{{$article.Id}}" target="_blank">
                        <div class="icon">
                            <img src="{{$article.PicCover}}">
                        </div>
                        <div class="cont">
                            <div class="title">{{$article.Title}}</div>
                            <div class="views">热度: {{$article.Browse}}</div>
                        </div>
                        <div class="rank bg-icons_0{{ add $index 1}}"></div>
                    </a>
                    {{end}}
                    <div class="clear"></div>
            </div>
        </div>
        <!-- 热门排行 end -->

        <!-- 排行表格 start -->
        <div class="bg0 rank-list show1">
            <table class="sect1" cellspacing="0">
                <tbody>
                <tr>
                    <th width="16.6%"><span>排名</span></th>
                    <th width="19%"><span>ICON</span></th>
                    <th width="21.5%"><span>小程序名</span></th>
                    <th width="16.6%"><span>热度</span></th>
                </tr>
                {{range $index,$article := .top1}}
                <tr {{if isOdd $index}}{{else}}class="even"{{end}}>
                    <td>{{add $index 3}}</td>
                    <td>
                        <a href="{{AppUrl}}/detail/{{$article.Id}}" target="_blank">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{$article.PicCover}}">
                        </a>
                    </td>
                    <td>{{$article.Title}}</td>
                    <td>{{$article.Browse}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="bg0 rank-list show2">
            <table class="sect1" cellspacing="0">
                <tbody>
                <tr>
                    <th width="12.6%"><span>排名</span></th>
                    <th width="16%"><span>ICON</span></th>
                    <th width="23.6%"><span>小程序名</span></th>
                </tr>
                {{range $index,$article := .top1}}
                <tr {{if isOdd $index}}{{else}}class="even"{{end}}>
                    <td>{{add $index 3}}</td>
                    <td>
                        <a href="{{AppUrl}}/detail/{{$article.Id}}" target="_blank">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{$article.PicCover}}">
                        </a>
                    </td>
                    <td>{{$article.Title}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
{{template "front_footer" .}}
</div>
<script src="{{StaticUrl}}/front/js/common.js"></script>
{{template "front_script" .}}
</body>
</html>