<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{.q}}搜索结果 - 小程序商店 | 139小程序商店(139ud.com)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="dns-prefetch" href="http://static.139ud.com/">
    <link rel="dns-prefetch" href="http://img.139ud.com/">
    <link rel="shortcut icon" type="image/x-icon" href="{{StaticUrl}}/favicon.ico">
    <link rel="icon" type="image/x-icon" href="{{StaticUrl}}/favicon.ico">
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/mobile.css" media="screen and (max-width:768px)" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/index.css" />
    <link rel="stylesheet" href="{{StaticUrl}}/front/css/search.css" />
</head>
<body>
<div class="wrap">
    {{template "front_header" .}}
    <div class="body search-page clearfix">
        <div class="page">
            <form class="search" method="post" action="{{AppUrl}}/search">
                <input id="searchTxt" type="text" class="query" name="q" value="{{.q}}"><button class="submit" type="submit">搜索</button>
                <div>
                    <input type="radio" class="radio-box" id="app" name="t" value="app" {{if eq "app" .t}}checked{{end}} onclick="checkType('搜索小程序')"> 小程序&nbsp;&nbsp;
                    <input type="radio" class="radio-box" id="mp" name="t" value="mp" {{if eq "mp" .t}}checked{{end}} onclick="checkType('搜索公众号')"> 公众号&nbsp;&nbsp;
                    <input type="radio" class="radio-box" id="eva" name="t" value="eva" {{if eq "eva" .t}}checked{{end}} onclick="checkType('搜索评测')"> 评测&nbsp;&nbsp;
                </div>
            </form>
            {{if eq .paginator.totals 0}}
                <p class="search-empty">暂无搜索结果</p>
            {{else}}
                {{if eq "app" $.t}}
                    <ul class="search-result cate-list clearfix">
                    {{range .articles}}
                        <li class="item">
                            <a class="avatar" target="_blank" href="{{AppUrl}}/app/detail/{{.Id}}" title="{{.Title}}">
                                <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{.PicCover}}" width="70" height="70" alt="{{.Title}}">
                            </a>
                            <a class="title" target="_blank" href="{{AppUrl}}/app/detail/{{.Id}}" title="{{.Title}}">{{.Title}}</a>
                            <div class="tags">
                            {{$tags := string2Arr .Keywords}}
                            {{range $tags}}
                                <a rel="nofollow" href="{{AppUrl}}/search?t={{$.t}}&q={{.}}">{{.}}</a>
                            {{end}}
                            </div>
                        </li>
                    {{end}}
                    </ul>
                {{end}}
                {{if eq "mp" $.t}}
                    <ul class="search-result cate-list clearfix">
                        {{range .articles}}
                        <li class="item">
                            <a class="avatar" target="_blank" href="{{AppUrl}}/mp/detail/{{.Id}}" title="{{.Title}}">
                                <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{.PicCover}}" width="70" height="70" alt="{{.Title}}">
                            </a>
                            <a class="title" target="_blank" href="{{AppUrl}}/mp/detail/{{.Id}}" title="{{.Title}}">{{.Title}}</a>
                            <div class="tags">
                            {{$tags := string2Arr .Keywords}}
                            {{range $tags}}
                                <a rel="nofollow" href="{{AppUrl}}/search?t={{$.t}}&q={{.}}">{{.}}</a>
                            {{end}}
                            </div>
                        </li>
                        {{end}}
                    </ul>
                {{end}}
                {{if eq "eva" $.t}}
                    <div class="eva-main">
                        {{range .articles}}
                            <div class="imgScale">
                                <a href="{{AppUrl}}/evaluate/{{.Id}}" class="title" target="_blank"><h2>{{.Title}}</h2></a>
                                <div class="data-detail clearfix">
                                    <p class="fl time-art"><label></label>{{DateFormat .CreatedAt}}</p>
                                    <p class="view-count fl"><label></label>{{.Browse}}</p>
                                    <p class="label-art fr">
                                        <label class="lableIcon"></label>
                                    {{ $Keywords := string2Arr .Keywords}}
                                    {{range $Keywords}}
                                        <a rel="nofollow" href="{{AppUrl}}/search?t={{$.t}}&q={{.}}">{{.}}</a>
                                    {{end}}
                                    </p>
                                </div>
                                <a href="{{AppUrl}}/evaluate/{{.Id}}" class="imgs content" target="_blank">
                                    <span class="num">{{.Score}}<label>分</label></span>
                                    <img src="{{.PicCover}}" alt="{{.Title}}" style="width: 100%;" class="scale_return">
                                </a>
                                <a href="{{AppUrl}}/evaluate/{{.Id}}" class="details" target="_blank">{{.Desc}}</a>
                            </div>
                        {{end}}
                    </div>
                {{end}}
            {{end}}
        </div>
        <div class="pagination">
        {{if gt .paginator.totalpages 1}}
            {{if ne .paginator.currpage .paginator.firstpage }}
                <a href="{{AppUrl}}/search/{{.cate.Id}}?q={{.q}}&page={{.paginator.firstpage}}" class="pagination-prev">上一页</a>
            {{end}}
            {{range $index,$page := .paginator.pages}}
                {{if eq $.paginator.currpage $page }}
                    <span class="pagination-curr">{{$page}}</span>
                {{else}}
                    <a href="{{AppUrl}}/search/{{$.cate.Id}}?q={{$.q}}&page={{$page}}">{{$page}}</a>
                {{end}}
            {{end}}
            {{if ne .paginator.currpage .paginator.lastpage }}
                <a href="{{AppUrl}}/search/{{.cate.Id}}?q={{.q}}&page={{.paginator.lastpage}}" class="pagination-next">下一页</a>
            {{end}}
        {{end}}
        </div>
    </div>
    {{template "front_footer" .}}
</div>
<script src="{{StaticUrl}}/front/js/common.js"></script>
{{template "front_script" .}}
<script>
    $().ready(function() {
    });
    function checkType(name) {
        var value = $('#searchTxt').val();
        if (value==''){
            $('#searchTxt').attr('placeholder',name)
        }
    }
</script>
</body>
</html>