{{define "front_footer"}}
<div class="footer">
    <div class="inner">
        <ul>
            <li><a target="_blank" href="{{AppUrl}}">微信小程序</a></li>
            <li class="divide">|</li>
            <li><a target="_blank" rel="nofollow" href="{{AppUrl}}/links">友情链接</a></li>
            <li class="divide">|</li>
            <li><a target="_blank" rel="nofollow" href="{{AppUrl}}/business">联系我们</a></li>
            <li class="divide">|</li>
            <li><a target="_blank" rel="nofollow" href="{{AppUrl}}/apply">发布小程序</a></li>
            <li class="divide">|</li>
            <li><a target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/">湘ICP备18004798号</a></li>
        </ul>
        <p>Copyright &copy; 2017 www.139ud.com. All Rights Reserved.</p>
        <div class="fixed-btn">
            <a target="_blank" rel="nofollow" class="btn-apply icon-write" href="{{AppUrl}}/apply" title="发布小程序"></a>
            <a class="mobile icon-erweima" href="javascript:;" title="手机访问">
                <img src="{{StaticUrl}}/front/img/mobile.png" width="200" height="200" alt="139ud二维码" />
                <i></i>
            </a>
            <a class="backtop icon-up" href="javascript:;" title="返回顶部"></a>
        </div>
    </div>
</div>
{{end}}