{{define "footer"}}
<script src="{{StaticUrl}}/js/jquery.min.js?v=2.1.4"></script>
<script src="{{StaticUrl}}/js/bootstrap.min.js?v=3.3.6"></script>
<script src="{{StaticUrl}}/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="{{StaticUrl}}/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script
        src="{{StaticUrl}}/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="{{StaticUrl}}/js/plugins/validate/jquery.validate.min.js"></script>
<script src="{{StaticUrl}}/js/plugins/validate/messages_zh.min.js"></script>
<script src="{{StaticUrl}}/js/plugins/jsTree/jstree.min.js"></script>
<script src="{{StaticUrl}}/js/plugins/jqTreeGrid/jquery.treegrid.min.js"></script>
<script src="{{StaticUrl}}/js/plugins/jqTreeGrid/jquery.treegrid.extension.js"></script>
<script src="{{StaticUrl}}/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js"></script>
<script src="{{StaticUrl}}/js/plugins/chosen/chosen.jquery.js"></script>
<script src="{{StaticUrl}}/js/plugins/layer/layer.js"></script>
<script src="{{StaticUrl}}/js/layui.js"></script>
<script src="{{StaticUrl}}/js/content.js?v=1.0.0"></script>

<script src="{{StaticUrl}}/simditor/js/module.js"></script>
<script src="{{StaticUrl}}/simditor/js/hotkeys.js"></script>
<script src="{{StaticUrl}}/simditor/js/uploader.js"></script>
<script src="{{StaticUrl}}/simditor/js/simditor.js"></script>
{{end}}